@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    "Razor Syntax comment"
*@
@{
    // C# code goes in this syntax.
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width"/>
    <title></title>
</head>
<body>
    the model is: @Model
    @*that is a Razor expression*@

</body>
</html>